.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

.logo {
  /* height: 10%;
    padding: 2%; */
  height: 10%;
  width: 10%;
}

.sponsor {
  margin-top: 3%;
  align-self: baseline;
  height: 20px;
}

.phoneLogo {
  height: 20px;
  font-size: 24px;
  color: white;
  font-weight: 600;
}
