* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  background: rgb(252, 137, 108);
  background: linear-gradient(
    270deg,
    rgba(252, 137, 108, 1) 21%,
    rgba(203, 68, 92, 1) 88%
  );
  height: 100vh;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.body {
  margin: 0 18%;
}
